.hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.425)), url('../../img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}