* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    body {
        background-color: $bg-primero !important;

        .padding-section {
            padding: 10rem 0rem;
        }

        a {
            text-decoration: none;
        }

        li {
            list-style-type: none;
        }

        main {
            height: auto;
        }
    }
}